<div
  class="modal fade"
  id="company-card-modal"
  data-id="{{id}}"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-white companies-modal-header">
        <h5 class="modal-title" id="company-name"><i
            class="far fa-building"
          ></i>
          {{name}}</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h6 class="card-subtitle">{{sector}}</h6>
        <p>{{symbol}}</p>
        <p>January 2021 share price: <span>${{janPrice}}</span></p>
        <p>{{company_summary}}</p>
      </div>
      <form action="" id="added-to-basket">
        <div class="modal-footer d-flex justify-content-between">
          <div>
            <label for="number-shares"> Number of shares:</label>
            <input type="text" name="" id="number-shares" />
          </div>
          <div>
            <label for="portfolio-name">Select a portfolio:</label>

            <select name="portfolio-name" id="portfolio-name">
              {{#each parent.portfolios}}
                <option id={{id}} value="{{name}}">{{name}}</option>
              {{/each}}

            </select>
          </div>
          <div>
            <button
              id="basket-submit"
              type="submit"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >Add to portfolio</button>
          </div>

        </div>
      </form>

    </div>
  </div>
</div>