<div class="card m-3" style="width: 18rem;">
  <div class="card-body">
    <h3 class="card-title">{{name}}</h3>
    <h4>Returns: ${{user.score}}</h4>
    <h5 class="card-subtitle">Company Stocks</h5>
    {{#each companies}}
      <h6>{{name}}</h6>
      <p>{{symbol}}</p>
      <p>Jan 2021 Share Price: $<span>{{janPrice}}</span></p>
      <p>Units <span>123</span></p>
      <p>Gain/Loss <span>323</span></p>
    {{/each}}
  </div>
</div>